
<!-- <h3>Main state</h3> -->
    <section class="ghsearch-page">
        <div class="ghsearch-window">
            <div class="ghsearch-header">
                <div class="ghsearch-header__string">
                    <label  class="search-input" for="searchstr">Input name: </label>
                    <input type="text" class="search-input" id="searchstr" placeholder="Input name of repository" ng-model="data.searchString">
                </div>
                <div>
                    <button class="btn btn-green" ng-click="searchRepos(data.searchString)">Search</button>
                </div>
            </div>
        </div>
    </section>
